
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-settings-wJZ {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  .left-side-bar-5Qm {
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    line-height: 1.2125;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 2.4rem;
    height: 102.4rem;
    white-space: nowrap;
    padding: 7.2rem 2.5rem 7.2rem 3.4rem;
    overflow: hidden;
    position: relative;
    background-color: #cdeaff;
    box-sizing: border-box;
  }
  .auto-group-epov-jVK {
    width: 126.6rem;
    flex-shrink: 0;

    .header-5ZB {
      height: 19.4rem;
      align-items: flex-end;
      background-color: #cdeaff;
      margin-bottom: 3.9rem;
      padding: 2.7rem 19.6rem 0rem 0.1rem;
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      box-sizing: border-box;

      .auto-group-mofr-NYH {
        height: 100%;
        flex-shrink: 0;
        width: 53.3rem;

        .video-diary-81f {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.6rem 1.3rem;
          font-size: 4.8rem;
          font-weight: 700;
        }
        .auto-group-nxyk-38d {
          width: 100%;
          height: 9.2rem;
          position: relative;

          .frame-5-C1X {
            left: 0;
            align-items: center;
            padding: 2.9rem 6.6rem 2.8rem 2.8rem;
            width: 26.8rem;
            height: 9.2rem;
            cursor: pointer;
            display: flex;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            overflow: hidden;

            .dashboard-2-1-VWR {
              width: 3.4rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0.1rem 0rem;
            }
            .dashboard-DBX {
              flex-shrink: 0;
              margin-top: 0.5rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-6-kBT {
            width: 26.8rem;
            height: 9.2rem;
            left: 26.5rem;
            box-sizing: border-box;
            padding: 2.9rem 4.9rem 2.8rem 4.8rem;
            cursor: pointer;
            position: absolute;
            top: 0;
            overflow: hidden;

            .group-2-TLm {
              display: flex;
              align-items: flex-end;
              width: 100%;
              height: 100%;

              .video-camera-1-R2h {
                margin: 0rem 1.8rem 0.1rem 0rem;
                width: 3.4rem;
                height: 3.4rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .new-entry-uTf {
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .frame-7-2HP {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 6.3rem;
        width: 26.8rem;
        height: 9.2rem;
        cursor: pointer;

        .group-1-YmX {
          align-items: flex-start;
          width: 100%;
          height: 100%;
          display: flex;

          .image-7-7Zj {
            margin-right: 1.6rem;
            width: 3.4rem;
            height: 3.4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .manage-3yB {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
      }
      .frame-9-BpV {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 5.2rem 2.8rem 8.2rem;
        width: 26.8rem;
        height: 9.2rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;

        .group-4-WLy {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .settings-sSR {
            margin: 0rem 0.6rem 0.1rem 0rem;
            width: 3.4rem;
            height: 3.4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .settings-PvZ {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
    }
    .settings-KpD {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 5rem 2.9rem;
      font-size: 3.2rem;
      font-weight: 700;
    }
    .auto-group-kasm-dpu {
      display: flex;
      align-items: center;
      margin: 0rem 65.2rem 0rem 2.9rem;
      width: calc(100% - 68.1rem);
      height: 4.6rem;

      .backup-with-google-account-vJD {
        font-weight: 400;
        line-height: 1.2125;
        font-size: 2.4rem;
        text-align: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.7rem;
      }
      .filter-button-bv9 {
        width: 11.3rem;
        height: 100%;
        border: solid 0.1rem #000000;
        background-color: #2d8dff;
        border-radius: 3rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.4rem 0.3rem 6.8rem;

        .ellipse-1-7Nh {
          background-color: #d9d9d9;
          border-radius: 2.05rem;
          width: 100%;
          height: 4.1rem;
        }
      }
    }
  }
}
