
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.image-5-iHF {
  width: 100%;
  height: 86.4rem;
  object-fit: cover;
  vertical-align: top;
}
