
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.video-diary-landing-fvZ {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #0c3449;

  .group-33022-Ut1 {
    left: 0;
    top: 0.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144rem;
    height: 11.5rem;
    position: absolute;

    .rectangle-81-mEq {
      height: 0.8rem;
      background: linear-gradient(270.14deg, #f77f00 106.15%, #fcbf49 204.85%);
      flex-shrink: 0;
      margin-bottom: 3.3rem;
      width: 100%;
    }
    .group-33007-2gZ {
      margin: 0 13rem;
      width: calc(100% - 26rem);
      height: 7.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logobottom-LhF {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .mask-group-Vq3 {
          height: 7.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.2rem;
          width: 8rem;
        }
        .mental-mastery-bNH {
          max-width: 10rem;
          line-height: 1.26;
          font-family: Outfit, 'Source Sans Pro';
          margin-top: 0.2rem;
          font-size: 2.2rem;
          font-weight: 600;
          text-transform: uppercase;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .auto-group-fbtd-Sth {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 0rem 1rem 30.2rem;
        height: 100%;
        display: flex;

        .navtop-xc9 {
          margin: 1rem 5.1rem 1.5rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-V6H {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.7rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.375;
            color: #ffffff;
          }
          .about-Mnh {
            margin-right: 14rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.375;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .feature-6kH {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.375;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .contactusbutton-Dpu {
          width: 16.1rem;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          background-color: #6b2c39;
          line-height: 1.375;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          font-weight: 700;
          flex-shrink: 0;
          height: 100%;
          font-size: 2rem;
          justify-content: center;
          border-radius: 2.2rem;
        }
      }
    }
  }
  .vector-1-GoB {
    top: 80.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.7rem;
    height: 1.65rem;
    position: absolute;
    left: 39.85rem;
  }
  .group-33020-baZ {
    width: 98rem;
    height: 78rem;
    position: absolute;
    left: 23rem;
    top: 9.1rem;

    .rectangle-130-jAy {
      width: 98rem;
      height: 69.4rem;
      position: absolute;
      left: 0;
      top: 8.6rem;
      background-color: #3b6e89;
      border-radius: 7.4rem;
    }
    .videocameraperspectivemattes-FQD {
      object-fit: cover;
      vertical-align: top;
      width: 22.5463rem;
      height: 23.0766rem;
      position: absolute;
      left: 2.2999rem;
      top: 0;
    }
    .video-diary-xZX {
      font-size: 6.5rem;
      line-height: 1.5384615385;
      white-space: nowrap;
      position: absolute;
      top: 13.2rem;
      justify-content: center;
      font-weight: 700;
      letter-spacing: 0.325rem;
      height: 10rem;
      left: 29.4rem;
      display: flex;
      font-family: Outfit, 'Source Sans Pro';
      width: 39.1rem;
      align-items: center;
      text-transform: capitalize;
      color: #ffffff;
    }
    .buttonview-DEZ {
      width: 38rem;
      font-weight: 600;
      white-space: nowrap;
      align-items: center;
      position: absolute;
      left: 30rem;
      top: 30.9rem;
      font-size: 2rem;
      text-transform: uppercase;
      background-color: #003049;
      border-radius: 8.3rem;
      letter-spacing: 0.2rem;
      font-family: Outfit, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      height: 7.2rem;
      line-height: 1.375;
      color: #ffffff;
    }
    .buttonview-Teh {
      height: 7.2rem;
      font-family: Outfit, 'Source Sans Pro';
      background-color: #003049;
      display: flex;
      justify-content: center;
      border-radius: 8.3rem;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      left: 30rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.375;
      text-transform: uppercase;
      align-items: center;
      width: 38rem;
      top: 44.7rem;
      letter-spacing: 0.2rem;
    }
    .buttonview-js7 {
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      font-size: 2rem;
      line-height: 1.375;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      border-radius: 8.3rem;
      width: 38rem;
      height: 7.2rem;
      left: 30rem;
      top: 58.6rem;
      letter-spacing: 0.2rem;
      display: flex;
      background-color: #003049;
      font-weight: 600;
      font-family: Outfit, 'Source Sans Pro';
    }
  }
}
