
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.video-diary-entry-uxV {
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.1rem 0rem 11.9rem 0rem;
  width: 100%;
  position: relative;
  background-color: #0c3449;

  .group-33024-EUy {
    margin-bottom: 2.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-81-zDF {
      margin-bottom: 3.3rem;
      width: 100%;
      height: 0.8rem;
      background: linear-gradient(270.14deg, #f77f00 106.15%, #fcbf49 204.85%);
      flex-shrink: 0;
    }
    .group-33007-Vvh {
      margin: 0 13rem;
      width: calc(100% - 26rem);
      height: 7.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logobottom-dn1 {
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .mask-group-CKK {
          flex-shrink: 0;
          margin-right: 2.2rem;
          width: 8rem;
          height: 7.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .mental-mastery-hWy {
          max-width: 10rem;
          font-size: 2.2rem;
          line-height: 1.26;
          text-transform: uppercase;
          font-family: Outfit, 'Source Sans Pro';
          margin-top: 0.2rem;
          font-weight: 600;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .auto-group-5xrv-m13 {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 0rem 1rem 30.2rem;
        height: 100%;
        display: flex;

        .navtop-GiV {
          flex-shrink: 0;
          margin: 1.4rem 5.1rem 1.1rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;

          .home-bkm {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.7rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.375;
            color: #ffffff;
          }
          .about-vo3 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.375;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14rem;
          }
          .feature-sTP {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.375;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .contactusbutton-1Zb {
          width: 16.1rem;
          line-height: 1.375;
          font-family: Roboto, 'Source Sans Pro';
          border-radius: 2.2rem;
          color: #ffffff;
          flex-shrink: 0;
          font-weight: 700;
          white-space: nowrap;
          display: flex;
          background-color: #6b2c39;
          height: 100%;
          font-size: 2rem;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .auto-group-c84q-HGD {
    height: 76.2rem;
    position: relative;
    flex-shrink: 0;
    margin: 0 22.9rem;
    width: calc(100% - 45.8rem);

    .vector-1-pG9 {
      left: 16.95rem;
      top: 66.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.7rem;
      height: 1.65rem;
      position: absolute;
    }
    .group-33038-k9o {
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 98.2rem;
      height: 76.2rem;
      position: absolute;

      .auto-group-zhm3-gZF {
        padding: 0rem 0.1rem 6.4rem 0.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .entry-cSu {
          justify-content: center;
          font-size: 6.5rem;
          line-height: 1.5384615385;
          letter-spacing: 0.325rem;
          text-transform: capitalize;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4rem;
          align-items: center;
          display: flex;
          font-weight: 700;
          color: #ffffff;
          width: 100%;
          font-family: Outfit, 'Source Sans Pro';
        }
        .group-33034-KcD {
          margin-bottom: 3.5rem;
          width: 48rem;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .title-gBs {
            color: #ffffff;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.3rem;
            line-height: 2.1153846154;
            letter-spacing: 0.13rem;
            margin: 0rem 0rem 0.6rem 0.3rem;
            font-weight: 600;
            text-transform: uppercase;
          }
          .rectangle-137-aY9 {
            height: 4.3rem;
            background-color: #d9d9d9;
            border-radius: 1.6rem;
            width: 100%;
          }
        }
        .group-33035-kb3 {
          position: relative;
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 48rem;
          height: 6.9rem;

          .rectangle-138-WKK {
            width: 48rem;
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 2.6rem;
            background-color: #d9d9d9;
            border-radius: 1.6rem;
          }
          .description-EFK {
            white-space: nowrap;
            display: flex;
            text-transform: uppercase;
            top: 0;
            color: #ffffff;
            font-family: Outfit, 'Source Sans Pro';
            height: 2.8rem;
            position: absolute;
            line-height: 2.1153846154;
            letter-spacing: 0.13rem;
            width: 10rem;
            left: 0;
            font-size: 1.3rem;
            font-weight: 600;
          }
        }
      }
      .auto-group-yowf-7K7 {
        flex-shrink: 0;
        width: 100%;
        height: 37.7rem;
        display: flex;
        align-items: center;

        .group-33036-SsB {
          margin-right: 2rem;
          width: 48.1rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-139-AYH {
            margin-bottom: 5.8rem;
            width: 100%;
            height: 27.6rem;
            background-color: #d9d9d9;
            border-radius: 1.6rem;
            flex-shrink: 0;
          }
          .record-button-hHK {
            justify-content: center;
            letter-spacing: 0.13rem;
            flex-shrink: 0;
            width: calc(100% - 29.8563rem);
            display: flex;
            font-size: 1.3rem;
            color: #000000;
            font-family: Outfit, 'Source Sans Pro';
            background-color: #d9d9d9;
            margin: 0rem 14.856rem 0rem 15rem;
            align-items: center;
            text-transform: uppercase;
            white-space: nowrap;
            border-radius: 2.15rem;
            height: 4.3rem;
            font-weight: 600;
            line-height: 2.1153846154;
          }
        }
        .group-33037-Y33 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 48.1rem;
          height: 100%;

          .rectangle-140-UxH {
            background-color: #d9d9d9;
            border-radius: 1.6rem;
            flex-shrink: 0;
            margin-bottom: 5.8rem;
            width: 100%;
            height: 27.6rem;
          }
          .record-button-Rcd {
            height: 4.3rem;
            justify-content: center;
            text-transform: uppercase;
            font-family: Outfit, 'Source Sans Pro';
            font-weight: 600;
            line-height: 2.1153846154;
            margin: 0rem 15rem 0rem 15.1rem;
            width: calc(100% - 30.1rem);
            border-radius: 2.15rem;
            white-space: nowrap;
            background-color: #d9d9d9;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            letter-spacing: 0.13rem;
            color: #000000;
          }
        }
      }
    }
  }
}
