
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-settings-wJZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.desktop-4-settings-wJZ .left-side-bar-5Qm {
  box-sizing: border-box;
  padding: 7.2rem 2.5rem 7.2rem 3.4rem;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #cdeaff;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK {
  width: 126.6rem;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB {
  margin-bottom: 3.9rem;
  box-sizing: border-box;
  padding: 2.7rem 19.6rem 0rem 0.1rem;
  width: 100%;
  height: 19.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #cdeaff;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH {
  width: 53.3rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .video-diary-81f {
  margin: 0rem 0rem 1.6rem 1.3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d {
  width: 100%;
  height: 9.2rem;
  position: relative;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d .frame-5-C1X {
  box-sizing: border-box;
  padding: 2.9rem 6.6rem 2.8rem 2.8rem;
  width: 26.8rem;
  height: 9.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d .frame-5-C1X .dashboard-2-1-VWR {
  margin: 0rem 1.6rem 0.1rem 0rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d .frame-5-C1X .dashboard-DBX {
  margin-top: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d .frame-6-kBT {
  box-sizing: border-box;
  padding: 2.9rem 4.9rem 2.8rem 4.8rem;
  width: 26.8rem;
  height: 9.2rem;
  cursor: pointer;
  position: absolute;
  left: 26.5rem;
  top: 0;
  overflow: hidden;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d .frame-6-kBT .group-2-TLm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d .frame-6-kBT .group-2-TLm .video-camera-1-R2h {
  margin: 0rem 1.8rem 0.1rem 0rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .auto-group-mofr-NYH .auto-group-nxyk-38d .frame-6-kBT .group-2-TLm .new-entry-uTf {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-7-2HP {
  box-sizing: border-box;
  padding: 2.9rem 6.3rem;
  width: 26.8rem;
  height: 9.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-7-2HP .group-1-YmX {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-7-2HP .group-1-YmX .image-7-7Zj {
  margin-right: 1.6rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-7-2HP .group-1-YmX .manage-3yB {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-9-BpV {
  box-sizing: border-box;
  padding: 2.9rem 5.2rem 2.8rem 8.2rem;
  width: 26.8rem;
  height: 9.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-9-BpV .group-4-WLy {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-9-BpV .group-4-WLy .settings-sSR {
  margin: 0rem 0.6rem 0.1rem 0rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .header-5ZB .frame-9-BpV .group-4-WLy .settings-PvZ {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .settings-KpD {
  margin: 0rem 0rem 5rem 2.9rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .auto-group-kasm-dpu {
  margin: 0rem 65.2rem 0rem 2.9rem;
  width: calc(100% - 68.1rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .auto-group-kasm-dpu .backup-with-google-account-vJD {
  margin-right: 14.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .auto-group-kasm-dpu .filter-button-bv9 {
  box-sizing: border-box;
  padding: 0.2rem 0.4rem 0.3rem 6.8rem;
  width: 11.3rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #2d8dff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.desktop-4-settings-wJZ .auto-group-epov-jVK .auto-group-kasm-dpu .filter-button-bv9 .ellipse-1-7Nh {
  width: 100%;
  height: 4.1rem;
  background-color: #d9d9d9;
  border-radius: 2.05rem;
}
