
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-landing-dashboard-QxZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.desktop-1-landing-dashboard-QxZ .left-side-bar-d4d {
  box-sizing: border-box;
  padding: 7.2rem 2.5rem 7.2rem 3.4rem;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #cdeaff;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf {
  width: 126.6rem;
  height: 97.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 {
  box-sizing: border-box;
  padding: 2.7rem 0.1rem 0rem 0.1rem;
  width: 126.6rem;
  height: 19.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #cdeaff;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .video-diary-9j7 {
  margin: 0rem 0rem 1.6rem 1.3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK {
  margin-right: 19.7rem;
  width: calc(100% - 19.7rem);
  height: 9.2rem;
  display: flex;
  align-items: center;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT {
  width: 53.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT .frame-5-6nm {
  box-sizing: border-box;
  padding: 2.9rem 6.6rem 2.8rem 2.8rem;
  width: 26.8rem;
  height: 9.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT .frame-5-6nm .dashboard-2-1-iBs {
  margin: 0rem 1.6rem 0.1rem 0rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT .frame-5-6nm .dashboard-1Rs {
  margin-top: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT .frame-6-i5P {
  box-sizing: border-box;
  padding: 2.9rem 4.9rem 2.8rem 4.8rem;
  width: 26.8rem;
  height: 9.2rem;
  cursor: pointer;
  position: absolute;
  left: 26.5rem;
  top: 0;
  overflow: hidden;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT .frame-6-i5P .group-2-1aH {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT .frame-6-i5P .group-2-1aH .video-camera-1-ATB {
  margin: 0rem 1.8rem 0.1rem 0rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-z3zj-xwT .frame-6-i5P .group-2-1aH .new-entry-fuj {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV {
  width: 53.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-7-jub {
  box-sizing: border-box;
  padding: 2.9rem 6.7rem;
  width: 26.8rem;
  height: 9.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-7-jub .group-1-rjK {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-7-jub .group-1-rjK .image-7-DZs {
  margin-right: 0.8rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-7-jub .group-1-rjK .manage-MRB {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-8-suK {
  box-sizing: border-box;
  padding: 2.9rem 5.2rem 2.8rem 8.2rem;
  width: 26.8rem;
  height: 9.2rem;
  cursor: pointer;
  position: absolute;
  left: 26.6rem;
  top: 0;
  overflow: hidden;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-8-suK .group-4-bKX {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-8-suK .group-4-bKX .settings-969 {
  margin: 0rem 0.6rem 0.1rem 0rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .header-fZ3 .auto-group-v8sm-STK .auto-group-492b-bYV .frame-8-suK .group-4-bKX .settings-fKP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .how-are-you-feeling-today-nQ1 {
  width: 30.8rem;
  height: 3rem;
  position: absolute;
  left: 2.6rem;
  top: 27.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .welcome-janice-H5s {
  width: 25.7rem;
  height: 3.9rem;
  position: absolute;
  left: 2.6rem;
  top: 23.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f {
  box-sizing: border-box;
  padding: 6.8rem 20.4rem 0rem 16.9rem;
  width: 126.6rem;
  height: 67rem;
  position: absolute;
  left: 0;
  top: 30.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 {
  margin: 0rem 2.65rem 11.3rem 1.05rem;
  width: calc(100% - 3.7rem);
  height: 19.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-1-8kh {
  margin-right: 20.7rem;
  width: 33.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-1-8kh .in-yesterdays-entry-you-were-SWV {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-1-8kh .auto-group-zx3r-LLy {
  box-sizing: border-box;
  padding: 5.2rem 13.05rem 0rem 13.45rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-1-8kh .auto-group-zx3r-LLy .happy-1-4Gy {
  margin-bottom: 1.9rem;
  width: 6.6rem;
  height: 6.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-1-8kh .auto-group-zx3r-LLy .happy-BsP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-2-uoP {
  width: 31rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-2-uoP .in-the-past-month-you-were-majorly-4gH {
  max-width: 31rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-2-uoP .auto-group-vc4s-auX {
  box-sizing: border-box;
  padding: 2rem 12.85rem 0rem 11.55rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-2-uoP .auto-group-vc4s-auX .sad-iVw {
  margin-bottom: 2.1rem;
  width: 6.6rem;
  height: 6.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-ndij-dJ9 .frame-2-uoP .auto-group-vc4s-auX .sad-Fkm {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b {
  width: 100%;
  height: 29.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-3-LnD {
  margin-right: 18.9rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-3-LnD .your-emotion-trend-in-a-glance-hMs {
  margin-bottom: 2.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-3-LnD .image-14-QXB {
  width: 38.2rem;
  height: 22.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD {
  width: 32.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .entry-calendar-5NR {
  margin: 0rem 1rem 2rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .auto-group-qk7h-PP7 {
  box-sizing: border-box;
  padding: 6.6rem 0.9rem 11.4rem 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-8-bg.png');
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .auto-group-qk7h-PP7 .image-28-HUV {
  margin: 3rem 0.8rem 0rem 0rem;
  width: 3.2rem;
  height: 2.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .auto-group-qk7h-PP7 .rectangle-7-1QV {
  margin: 2.6rem 5.2rem 0rem 0rem;
  width: 4.5rem;
  height: 3.6rem;
  background-color: rgba(255, 235, 196, 0.5);
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .auto-group-qk7h-PP7 .image-11-7yK {
  margin: 0rem 1.5rem 4.1rem 0rem;
  width: 3rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .auto-group-qk7h-PP7 .image-12-rAD {
  margin: 0rem 1.2rem 4.1rem 0rem;
  width: 3.2rem;
  height: 1.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .auto-group-qk7h-PP7 .image-13-n3s {
  margin: 0rem 1.4rem 4.5rem 0rem;
  width: 3.4rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-landing-dashboard-QxZ .auto-group-5yxb-Ayf .auto-group-h6xm-A9f .auto-group-4jfh-o1b .frame-4-wGD .auto-group-qk7h-PP7 .image-10-iCR {
  margin-bottom: 4.2rem;
  width: 3.1rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
